<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-BangloreMaid-20240722104148;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-BangloreMaid-20240722104148.mdf" />
    <!--<add name="hospi2yp_tabletjobssConnectionString" connectionString="Data Source=198.38.87.207;Initial Catalog=TabletJobs_Test;User ID=Karim;Password=Karim2023@++" providerName="System.Data.SqlClient" />-->
    <!--<add name="hospi2yp_tabletjobssConnectionString_V02" connectionString="Data Source=13.232.7.153\\SQLEXPRESS,1433;Initial Catalog=hospi2yp_TabletJobsnew;User ID=Karim;Password=hospi2yp_TabletJobsnew@2025++;" providerName="System.Data.SqlClient" />-->
    <add name="hospi2yp_tabletjobssConnectionString" connectionString="Data Source=208.91.199.99;Initial Catalog=hospi2yp_TabletJobsnew;User ID=Karim;Password=Karim2023@++;Pooling=True;Min Pool Size=5;Max Pool Size=100" providerName="System.Data.SqlClient" />
    <add name="hospi2yp_tabletjobssConnectionString_V03" connectionString="Data Source=103.191.208.18;Initial Catalog=tabletjobs-db;Persist Security Info=False;User ID=sqladmin;Password=hospi2yp_TabletJobsnew@2025++;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    <add name="hospi2yp_tabletjobssConnectionString_V02" connectionString="Data Source=103.191.208.18;Initial Catalog=tabletjobs-db;Persist Security Info=False;User ID=sqladmin;Password=hospi2yp_TabletJobsnew@2025++;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="51200" targetFramework="4.6.1" enableVersionHeader="false" />
    <!-- 50 MB limit -->
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="SmtpHost" value="mail.tabletjobs.com" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpUsername" value="response@tabletjobs.com" />
    <add key="SmtpPassword" value="tabletsjob@1234" />
    <add key="EnableSsl" value="false" />
    <add key="ExotelApiKey" value="803ce84cec186e50d618a408aa36fcd51c80d864756b136a" />
    <add key="ExotelApiToken" value="dce2f985def8b91928bbcaec2ed5ad4fa03b0aa4922833bc" />
    <add key="ExotelAccountSid" value="tabletjobs1" />
    <add key="ExotelCallerId" value="08047362247" />
    <add key="ExotelAgentNumber" value="09059724821" />
    <!-- Amazon SES SMTP -->
    <add key="SesSmtpHost" value="email-smtp.ap-southeast-1.amazonaws.com" />
    <add key="SesSmtpPort" value="587" />
    <add key="SesSmtpUseSsl" value="true" />
    <add key="SesSmtpUser" value="AKIA4UO3Z7RKCLSPL4HM" />
    <add key="SesSmtpPass" value="BN6NRBh2Vg7PXQMyAbD8LWBLW+7NbrumSCfS21Z+50ln" />
    <!-- A verified sender in SES (domain or mailbox must be verified; sandbox requires verified recipient too) -->
    <add key="SesFromAddress" value="updates@tabletjobs.com" />
   
    <add key="RazorpayKey" value="rzp_live_aGqk6cRZ7Qvbt6" />
    <add key="RazorpaySecret" value="Yu7bvUwQWxRbkDrGKMWYMlmK" />
    <!--<add key="PhonePe_MerchantId" value="TEST-TJCORPONLINE_250526" />
    <add key="PhonePe_SaltIndex" value="1" />
    <add key="PhonePe_SaltKey" value="ODFkMjVlYWUtOWY2Ny00MDI5LWJjZjEtZTUyNWYwN2ZhNzQx" />
    <add key="PhonePe_BaseUrl" value="https://api-preprod.phonepe.com/apis/pg-sandbox" />-->
    <add key="IS_PRODUCTION" value="false" />
    <add key="Zaakpay_TestMode" value="true" />
    <add key="PhonePe_MerchantId" value="TEST-TJCORPONLINE_250526" />
    <add key="PhonePe_SaltKey" value="ODFkMjVlYWUtOWY2Ny00MDI5LWJjZjEtZTUyNWYwN2ZhNzQx" />
    <add key="PhonePe_SaltIndex" value="1" />
    <add key="PhonePe_BaseUrl" value="https://api-preprod.phonepe.com/apis/hermes" />
    <add key="PhonePe_V2_ClientId" value="SU2505231205395750976019" />
    <add key="PhonePe_V2_ClientSecret" value="5c0ea938-7b05-4d58-a817-75476a9b42de" />
    <add key="PhonePe_MerchantId" value="TJCORPONLINE" />
    <add key="PhonePe_V2_BaseUrl" value="https://api.phonepe.com/apis/identity-manager" />
    <add key="PhonePe_V2_PaymentUrl" value="https://api.phonepe.com/apis/pg/checkout/v2/pay" />
    <add key="Zaakpay_SecretKey" value="0678056d96914a8583fb518caf42828a" />
    <add key="Zaakpay_ReturnUrl" value="https://www.tabletjobs.com/ZaakpayReturnHandler.ashx" />
    <add key="Zaakpay_MerchantIdentifier" value="b19e8f103bce406cbd3476431b6b7973" />
    <add key="ZohoOrgID" value="60041476373" />
    <add key="Zoho:ClientId" value="1000.LX3V38HZLB73ZA8BGQXPZOY3P8O6ZF" />
    <add key="Zoho:ClientSecret" value="91af86569d122ecfb1782e19b27b8d0f708e4871f9" />
    <add key="Zoho:RefreshToken" value="1000.dbf322c15b78090f6d30658f5c63c5e1.e6225b6a754087fb5bd189e388c2f48a" />
    <add key="Zoho:OrganizationId" value="60041476373" />
    <add key="Zoho:InterviewItemId" value="2502634000000048112" />
    <add key="Zoho:AccountId" value="2502634000000054003" />
    <add key="Zoho:PlaceOfSupply" value="JH" />
    <add key="Zoho:ApiDomain" value="https://www.zohoapis.in" />
    <add key="Zoho:AccountsDomain" value="https://accounts.zoho.in" />
    <add key="Zoho:GSTTaxId" value="2502634000000031333" />
    <add key="SESHost" value="email-smtp.ap-south-1.amazonaws.com" />
    <add key="SESPort" value="587" />
    <add key="SESMailFrom" value="response@tabletjobs.com" />
    <add key="SESMailUser" value="AKIA4UO3Z7RKPKHV2EME" />
    <add key="SESMailPass" value="BAj7Rpd4pwO7J6wHJWLxMzFi9Uk6RfM4WEWwYijgA8Be" />
    <add key="WhatsApp_AccessToken" value="EAAIzhdc30TsBPDetLjn6GXWaSpVc7r6ywNIikbsMTwI1QMbn0qRZBP1LLdvPKGAvvfybMeZAaQggMpuVwqwOo57GUyifoxEy3AhsZCGHZAkT7ZBk24bOz2sjjSUXs5orIrIkT7yZCbGSZALd7Yuq2YshZACeYKenelZAmX1Nv8ohoYOJv5ge0ylYdtkw5QUu6RMjG0mwX4ZCBd8bOWl4P65FpBC9qE0Q95Jtkx5Eeh" />
    <add key="WhatsApp_PhoneNumberId" value="700076156523416" />
    <add key="WhatsApp_VerifyToken" value="tabletjobs_whatsapp_verify_token_2024" />
    <add key="WhatsApp_WebhookSecret" value="C6s47t0HOLFPKrY$" />
    <add key="WhatsApp_BaseUrl" value="https://graph.facebook.com/v19.0" />
    <!-- WhatsApp Feature Flags -->
    <add key="WhatsApp_Enabled" value="true" />
    <add key="WhatsApp_AutoResponse" value="true" />
    <add key="WhatsApp_LogMessages" value="true" />
    <add key="WhatsApp_RetryFailedMessages" value="true" />
    <add key="WhatsApp_MaxRetryAttempts" value="3" />
    <!-- Working Hours Configuration -->
    <add key="WhatsApp_WorkingHoursStart" value="9" />
    <add key="WhatsApp_WorkingHoursEnd" value="18" />
    <add key="WhatsApp_WorkingDays" value="Monday,Tuesday,Wednesday,Thursday,Friday,Saturday" />
    <!-- Message Templates -->
    <add key="WhatsApp_UseTemplateMessages" value="true" />
    <add key="WhatsApp_FallbackToText" value="true" />
    <add key="OnlineInterviewFee" value="99" />
  </appSettings>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <handlers>
      <add name="PaymentHandler" path="PaymentHandler.aspx" verb="POST" type="TabletJobs.PaymentHandler" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.72.0.0" newVersion="1.72.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.72.0.0" newVersion="1.72.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

